.tile-viewer {
    margin: 30px;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 10px;
    
}

.tile-viewer > img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}